<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advertisment</title>
    <link rel="stylesheet" href="advertisment.5aeb5c34.css">
    <script src="casesMenu.54d3a2f3.js" defer=""></script>
</head>
<body>
    <div class="menu-burger"></div>
    <div class="content">
        <div class="cases-child-rusalka">
            <div class="cases-child-rusalka__body">
                <div class="cases-child-rusalka__container">
                    <div class="cases-child-rusalka__left-part">
                        <h2 class="cases-child-rusalka__h2">“Русалка”</h2>
                        <div class="cases-child-rusalka__box-text">
                            <p class="cases-child-rusalka__text-up">Нельзя не согласиться с тем, что феномен успешности марки в точном соответствии целевой аудитории. Эти молодые девушки ориентируются не столько на «моду» и «стиль»    в старомодном понимании, сколько на создание «имиджа» в своей возрастной группе. Они еще не научились миксовать дорогое и дешевое        в поисках собственного образа, не носили,          а, возможно, никогда и не видели настоящей дизайнерской одежды. Эти девушки читают журнал «Yes! Звезды» и собирают постеры группы БиС. </p>
                            <p class="cases-child-rusalka__text-down">Находясь в переходном периоде, они нуждаются в укреплении чувства собственной значимости, и бесконечно благодарны за бренд, созданный  в соответствии с их ценностями,                               их предпочтениями. Налицо следование стилю эмо, то есть включение в одежду подчеркнуто детских, наивных, деталей. С другой стороны,  эта одежда бывает по-взрослому романтична     и сексуальна. Другим более взрослым и зрелым женщинам требуются образы, подчеркивающие их статус, строгость, сдержанность и тд.                  То же и у мужчин: молодым людям важно выразить себя, зрелым мужчинам нужна классика.</p>
                        </div>
                        <div class="cases-child-rusalka__img">
                            <div class="comeback__svg-container slider__svg">
                                <a href="index.html#cases">
                                    <svg width="53" height="58" viewBox="0 0 53 58" fill="none" xmlns="http://www.w3.org/2000/svg" class="comeback__svg-circle">
                                        <path d="M0.244728 18.3909C2.59716 12.2852 6.90585 7.21949 12.4367 4.05685C17.9675 0.894198 24.3782 -0.169687 30.5765 1.04647C36.7748 2.26262 42.3772 5.68356 46.4292 10.7264C50.4811 15.7693 52.7318 22.122 52.7979 28.7022C52.8639 35.2824 50.7412 41.6829 46.7913 46.8132C42.8415 51.9434 37.309 55.486 31.1364 56.8373C24.9639 58.1886 18.5332 57.2651 12.9401 54.2239C7.34706 51.1828 2.93765 46.2123 0.463198 40.1594L1.57213 39.6659C3.93715 45.4511 8.15156 50.2018 13.4973 53.1084C18.843 56.0151 24.9893 56.8978 30.8889 55.6062C36.7884 54.3147 42.0763 50.9288 45.8514 46.0254C49.6266 41.122 51.6554 35.0045 51.5923 28.7153C51.5292 22.4262 49.378 16.3544 45.5053 11.5345C41.6326 6.71472 36.2779 3.44506 30.3537 2.2827C24.4295 1.12033 18.3023 2.13716 13.0161 5.15994C7.72986 8.18272 3.61172 13.0244 1.36333 18.8601L0.244728 18.3909Z"></path>
                                    </svg>
                                    <svg width="94" height="24" viewBox="0 0 94 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="comeback__svg-line">
                                        <path d="M0.939827 10.9628C0.354042 11.5486 0.354042 12.4983 0.939827 13.0841L10.4858 22.63C11.0716 23.2158 12.0213 23.2158 12.6071 22.63C13.1929 22.0442 13.1929 21.0945 12.6071 20.5087L4.12181 12.0234L12.6071 3.53815C13.1929 2.95236 13.1929 2.00262 12.6071 1.41683C12.0213 0.831042 11.0716 0.831041 10.4858 1.41683L0.939827 10.9628ZM93.5332 10.5234L2.00049 10.5234L2.00049 13.5234L93.5332 13.5234L93.5332 10.5234Z"></path>
                                    </svg>         
                                </a>                   
                            </div>                       
                        </div>
                    </div>
    
                    <div class="cases-child-rusalka__right-part">
                        <div class="cases-child-rusalka__img-rusalka-wrapper">
                            <img src="rusalka.c6654f55.png" alt="нет картинки :(" class="cases-child-rusalka__img-rusalka">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-m">
        <div class="header-m__react-menu"></div>
        <header class="header-m">
            <div class="header-m__logo footer-m__logo">
                <img src="label.0662274f.svg" alt="logo">
                <p>NFLUENCE</p>
            </div>
            <div class="header-m__icon">
                <span></span>
            </div>
        </header>
        <div class="cases-child-rusalka-m">
            <h2 class="cases-child-rusalka-m__title">“Русалка”</h2>
            <p class="cases-child-rusalka-m__text-up">Нельзя не согласиться с тем, что феномен успешности марки в точном соответствии целевой аудитории.
                Эти молодые девушки ориентируются не столько на «моду» и «стиль» 
                в старомодном понимании, сколько на создание «имиджа» в своей возрастной группе. Они еще не научились миксовать дорогое и дешевое 
                в поисках собственного образа, не носили, а, возможно, никогда и не видели настоящей дизайнерской одежды. Эти девушки читают журнал «Yes! 
                Звезды» и собирают постеры группы БиС. 
            </p>
            <div class="cases-child-rusalka-m__bottom-container">
                <div class="cases-child-rusalka-m__left-part-inner-container">
                    <p class="cases-child-rusalka-m__text-down">Находясь в переходном периоде, они нуждаются в укреплении чувства
                        собственной значимости, и бесконечно благодарны за бренд, созданный  в соответствии с их ценностями,
                        их предпочтениями. Налицо следование стилю эмо, то есть включение в одежду подчеркнуто детских, 
                        наивных, деталей. С другой стороны,  эта одежда бывает по-взрослому романтична    
                        и сексуальна. Другим более взрослым и зрелым женщинам требуются образы, подчеркивающие их статус,
                        строгость, сдержанность и тд. То же и у мужчин: молодым людям важно выразить себя, зрелым мужчинам 
                        нужна классика.
                    </p>
                    <div class="cases-child-rusalka-m__img">
                        <div class="comeback__svg-container cases-child-rusalka-m__svg">
                            <a href="index.html#cases">
                                <svg width="53" height="58" viewBox="0 0 53 58" fill="none" xmlns="http://www.w3.org/2000/svg" class="comeback__svg-circle">
                                    <path d="M0.244728 18.3909C2.59716 12.2852 6.90585 7.21949 12.4367 4.05685C17.9675 0.894198 24.3782 -0.169687 30.5765 1.04647C36.7748 2.26262 42.3772 5.68356 46.4292 10.7264C50.4811 15.7693 52.7318 22.122 52.7979 28.7022C52.8639 35.2824 50.7412 41.6829 46.7913 46.8132C42.8415 51.9434 37.309 55.486 31.1364 56.8373C24.9639 58.1886 18.5332 57.2651 12.9401 54.2239C7.34706 51.1828 2.93765 46.2123 0.463198 40.1594L1.57213 39.6659C3.93715 45.4511 8.15156 50.2018 13.4973 53.1084C18.843 56.0151 24.9893 56.8978 30.8889 55.6062C36.7884 54.3147 42.0763 50.9288 45.8514 46.0254C49.6266 41.122 51.6554 35.0045 51.5923 28.7153C51.5292 22.4262 49.378 16.3544 45.5053 11.5345C41.6326 6.71472 36.2779 3.44506 30.3537 2.2827C24.4295 1.12033 18.3023 2.13716 13.0161 5.15994C7.72986 8.18272 3.61172 13.0244 1.36333 18.8601L0.244728 18.3909Z"></path>
                                </svg>
                                <svg width="94" height="24" viewBox="0 0 94 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="comeback__svg-line">
                                    <path d="M0.939827 10.9628C0.354042 11.5486 0.354042 12.4983 0.939827 13.0841L10.4858 22.63C11.0716 23.2158 12.0213 23.2158 12.6071 22.63C13.1929 22.0442 13.1929 21.0945 12.6071 20.5087L4.12181 12.0234L12.6071 3.53815C13.1929 2.95236 13.1929 2.00262 12.6071 1.41683C12.0213 0.831042 11.0716 0.831041 10.4858 1.41683L0.939827 10.9628ZM93.5332 10.5234L2.00049 10.5234L2.00049 13.5234L93.5332 13.5234L93.5332 10.5234Z"></path>
                                </svg>         
                            </a>                   
                        </div>                       
                    </div>
                </div>
                <div class="cases-child-rusalka-m__right-part">
                    <div class="cases-child-rusalka-m__img-rusalka-wrapper">
                        <img src="rusalka.c6654f55.png" alt="нет картинки :(">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>