<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loginova</title>
    <link rel="stylesheet" href="advertisment.5aeb5c34.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
    <script src="loginova.edffef5a.js" defer=""></script>
</head>
<body>
    <div class="menu-burger"></div>
    
    <div class="content-another-page">
        
        <div class="ROOT_MODAL"></div>
        <div class="root_swiper_loginova swiper-loginova"></div>
        <section class="loginova-detail">
            <div class="header-m__react-menu"></div>
            <div class="header-m">
                <div class="header-m__logo footer-m__logo">
                    <img src="label.0662274f.svg" alt="logo">
                    <p>NFLUENCE</p>
                </div>
                <div class="header-m__icon">
                    <span></span>
                </div>
            </div>
            <div class="loginova-detail__wrapper">
                <div class="loginova-detail__img-container">
                    <img src="plaingLoginova.f2d91f01.png" alt="loginova">
                </div>
                <div class="loginova-detail__text-container">
                    <p class="loginova-detail__text">Российский видеоблогер, певица, композитор, актриса и модель. На июль 2021 года имела более
                        1,48 миллиона подписчиков на своём основном 
                       канале София Левина и более 159 тысяч на англоязычном канале SOFY.</p>
                   <p class="loginova-detail__text">1.600.000 подписчиков</p>
                   <p class="loginova-detail__text"> <span>Сети</span>: YouTube, Rutube, ВКонтакте, Яндекс.Дзен</p>
                </div>
                
                <div class=" loginova-detail__svg-container our-team__social-labels">
                    <a href="#" class="hidden-loginova__svg svg">
                        <div class="svg__top-right-line"></div>
                        <div class="svg__right-top-line"></div>
                        <div class="svg__bottom-left-line"></div>
                        <div class="svg__left-bottom-line"></div>
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25 0H5C2.16667 0 0 2.16667 0 5V25C0 27.8333 2.16667 30 5 30H25C27.8333 30 30 27.8333 30 25V5C30 2.16667 27.8333 0 25 0ZM15 10C17.8333 10 20 12.1667 20 15C20 17.8333 17.8333 20 15 20C12.1667 20 10 17.8333 10 15C10 12.1667 12.1667 10 15 10ZM21.3333 6.66667C21.3333 5.5 22.3333 4.66667 23.3333 4.66667C24.3333 4.66667 25.3333 5.66667 25.3333 6.66667C25.3333 7.66667 24.5 8.66667 23.3333 8.66667C22.1667 8.66667 21.3333 7.83333 21.3333 6.66667ZM25 26.6667H5C4 26.6667 3.33333 26 3.33333 25V15H6.66667C6.66667 19.6667 10.3333 23.3333 15 23.3333C19.6667 23.3333 23.3333 19.6667 23.3333 15H26.6667V25C26.6667 26 26 26.6667 25 26.6667Z" fill="#EE3434"></path>
                            </svg>                                    
                    </a>
                    <a href="#" class="hidden-loginova__svg svg">
                        <div class="svg__top-right-line"></div>
                        <div class="svg__right-top-line"></div>
                        <div class="svg__bottom-left-line"></div>
                        <div class="svg__left-bottom-line"></div>
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M23.9732 0H5.89286C2.59888 0 0 2.59888 0 5.89286V23.9732C0 27.2672 2.59888 30 5.89286 30H23.9732C27.2672 30 30 27.2672 30 23.9732V5.89286C30 2.59888 27.2672 0 23.9732 0ZM20.3571 24.375H16.875C14.0283 24.375 12.0536 22.7893 12.0536 19.2857V13.9286H9.64286V10.7143C12.4895 9.97768 13.5234 7.47857 13.6607 5.35714H16.6071V10.1786H20.0893V13.9286H16.6071L16.581 18.6502C16.581 20.1147 17.3176 20.621 18.4975 20.621L20.3571 20.625V24.375Z" fill="#EE3434"></path>
                            </svg>                                    
                    </a>
                    <a href="#" class="hidden-loginova__svg svg">
                        <div class="svg__top-right-line"></div>
                        <div class="svg__right-top-line"></div>
                        <div class="svg__bottom-left-line"></div>
                        <div class="svg__left-bottom-line"></div>
                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M29.8072 6.62404C29.8072 3.10851 27.8675 0.280461 25.4708 0.280461C22.2243 0.0781226 18.9133 0 15.5297 0H14.4748C11.0994 0 7.78259 0.0781228 4.53608 0.281242C2.14516 0.281242 0.20546 3.12492 0.20546 6.64044C0.0589575 9.42084 -0.00315971 12.202 0.000356358 14.9832C-0.00550376 17.7644 0.0609109 20.5481 0.1996 23.3345C0.1996 26.8501 2.1393 29.7015 4.53022 29.7015C7.94081 29.9125 11.4393 30.0062 14.9964 29.9984C18.5593 30.014 22.0481 29.9151 25.4626 29.7015C27.8593 29.7015 29.799 26.8501 29.799 23.3345C29.9397 20.5455 30.0041 17.7644 29.9983 14.9754C30.0116 12.1942 29.9479 9.41042 29.8072 6.62404ZM12.1308 22.647V7.2959L20.628 14.9676L12.1308 22.647Z" fill="#EE3434"></path>
                            </svg>                                     
                    </a>
                </div>
                <div class="loginova-detail__slider slider">
                    <div class="slider__wrapper" data-loginova="true">
                        <div class="slider__first-img-container _start-slider">
                            <img src="singingLog.c95c8f61.png" alt="singing">
                        </div>
                        <a href="#" class="slider__video-section-container" data-slider-video="true" data-youtubeLightbox="">
                            <img src="bigCar.8b2c5f12.png" alt="video" class="slider__video">
                            <img src="play.2a4eab11.svg" class="_icon" alt="play">
                        </a>
                        <div class="slider__third-img-container _start-slider">
                            <div class="slider__third-top-img-container">
                                <img src="headLog.2dabbfcf.png" alt="head">
                            </div>
                            <div class="slider__third-bottom-img-container">
                                <img src="bodyLog.7434a9bb.png" alt="body">
                            </div>
                        </div>
                    </div>
                    <button class="button-dinamic slider__feedback-button" data-feedback-open="true">Оставить заявку
                        <div class="button-dinamic__1"></div>
                        <div class="button-dinamic__2"></div>
                        <div class="button-dinamic__3"></div>
                        <div class="button-dinamic__4"></div>
                        <div class="button-dinamic__5"></div>
                        <div class="button-dinamic__6"></div>
                        <div class="button-dinamic__7"></div>
                        <div class="button-dinamic__8"></div>
                    </button>
                        <div class="comeback__svg-container slider__svg">
                            <a href="index.html#our-team">
                                <svg width="53" height="58" viewBox="0 0 53 58" fill="none" xmlns="http://www.w3.org/2000/svg" class="comeback__svg-circle">
                                    <path d="M0.244728 18.3909C2.59716 12.2852 6.90585 7.21949 12.4367 4.05685C17.9675 0.894198 24.3782 -0.169687 30.5765 1.04647C36.7748 2.26262 42.3772 5.68356 46.4292 10.7264C50.4811 15.7693 52.7318 22.122 52.7979 28.7022C52.8639 35.2824 50.7412 41.6829 46.7913 46.8132C42.8415 51.9434 37.309 55.486 31.1364 56.8373C24.9639 58.1886 18.5332 57.2651 12.9401 54.2239C7.34706 51.1828 2.93765 46.2123 0.463198 40.1594L1.57213 39.6659C3.93715 45.4511 8.15156 50.2018 13.4973 53.1084C18.843 56.0151 24.9893 56.8978 30.8889 55.6062C36.7884 54.3147 42.0763 50.9288 45.8514 46.0254C49.6266 41.122 51.6554 35.0045 51.5923 28.7153C51.5292 22.4262 49.378 16.3544 45.5053 11.5345C41.6326 6.71472 36.2779 3.44506 30.3537 2.2827C24.4295 1.12033 18.3023 2.13716 13.0161 5.15994C7.72986 8.18272 3.61172 13.0244 1.36333 18.8601L0.244728 18.3909Z"></path>
                                </svg>
                                <svg width="94" height="24" viewBox="0 0 94 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="comeback__svg-line">
                                    <path d="M0.939827 10.9628C0.354042 11.5486 0.354042 12.4983 0.939827 13.0841L10.4858 22.63C11.0716 23.2158 12.0213 23.2158 12.6071 22.63C13.1929 22.0442 13.1929 21.0945 12.6071 20.5087L4.12181 12.0234L12.6071 3.53815C13.1929 2.95236 13.1929 2.00262 12.6071 1.41683C12.0213 0.831042 11.0716 0.831041 10.4858 1.41683L0.939827 10.9628ZM93.5332 10.5234L2.00049 10.5234L2.00049 13.5234L93.5332 13.5234L93.5332 10.5234Z"></path>
                                </svg>         
                            </a>                   
                        </div>
                </div>
            </div>
            <!-- <div id="youtubelightboxLoginova" class="youtubelightboxLoginova" data-playing="false">
                <div class="youtubelightboxLoginova__centeredchild">
                    <div class="youtubelightboxLoginova__videowrapper">
                        <div id="youtubelightboxPlayerLoginova"></div>
                    </div>
                </div>
            </div> -->
        </section>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
</body>
</html>